# Ignore Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore Virtual Environments
venv/
env/
*.venv

# Ignore IDE and Editor settings
.vscode/
.idea/

# Ignore checkpoints 
checkpoints/

# Ignore logs and experiment tracking directories
/logs/
/wandb/

# Ignore datasets
data/RepCount/*
!data/RepCount/
data/UCFRep/* 
!data/UCFRep/

# Ignore pretrained models
models/pretrained_models/*
!models/pretrained_models/

# Ignore ML/DL frameworks and dependencies
pytorchvideo/
detectron2/
node_modules/
