av==10.0.0
einops==0.3.2
numpy
opencv-python==4.8.1.78
pandas
tqdm==4.59.0
torch==1.10.0+cu111
torchvision==0.11.0+cu111
torchaudio==0.10.0 -f https://download.pytorch.org/whl/torch_stable.html
simplejson
psutil
scikit-image
timm
openmim
gdown